[flake8]
max-complexity = 20
max-line-length = 120
ignore =
    E121, E123, E126, E133, E226, E241, E242, E704,
    W503, W504,
    D100, D101, D102, D103, D104, D105, D106, D107, D200, D203, D204, D205, D400, D401,
    F401, F403, F405, F541
show-source = true
doctests = true

statistics = True

inline-quotes = single
multiline-quotes = single

docstring-quotes = single
