async-fastapi-jwt-auth==0.6.6
cryptography==43.0.0
fastapi==0.111.0
gunicorn==23.0.0
httptools==0.6.1
pip==23.2.1
psycopg2-binary==2.9.9
PyYAML==6.0.2
setuptools==68.2.0
uvicorn==0.30.6
uvloop==0.20.0
watchfiles==0.23.0
websockets==13.0
wheel==0.41.2
alembic==1.13.2
redis==5.0.4
typer==0.12.3
slowapi==0.1.9
requests==2.32.3
requests-oauthlib==2.0.0